@tailwind base;
@tailwind components;
@tailwind utilities;

p, ul {
    @apply mb-4;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight;
}

article > h1 {
    @apply mb-4 text-2xl
}

article > h2 {
    @apply mb-2
}

article > p > a {
    @apply underline
}

article > ul {
    @apply list-disc;
    @apply ml-8;
}

div.highlighter-rouge {
    font-family: Courier, monospace;
    background: #fff;
    @apply p-2 shadow block;
    @apply text-xs p-2 mb-4 mt-4 pl-4 pt-4;
    @apply rounded-xl;
    @apply border-2 border-gray-700 dark:border-slate-200;
}

@media (prefers-color-scheme: dark) {
    div.highlighter-rouge {
        background: #272822;
    }
}

div.highlighter-rouge > div {
    @apply overflow-auto w-full;
}

code.highlighter-rouge .highlight {
    @apply text-lg;
}

code.highlighter-rouge {
    font-family: Courier, monospace;
    @apply shadow;
    @apply p-1 mb-4;
    @apply bg-gray-200  dark:bg-slate-600;
}

pre.highlight > button {
    @apply inline-block absolute top-1 right-1 h-8	;
    @apply cursor-pointer box-border;
    @apply mx-4 px-2;
    @apply uppercase text-center;
    @apply opacity-50 hover:opacity-100;
    @apply rounded-xl border-2;
    @apply antialiased text-base leading-normal;
    @apply text-gray-700 dark:text-slate-200;
    @apply border-gray-700 dark:border-slate-200;
    @apply transition ease-out duration-300;
}

pre.highlight {
    @apply relative min-h-12;
}