<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ site.data.manifest['docs.css'] | relative_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}" />
    <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | relative_url }}" />
    <title>JsonMapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>JsonMapper</title>
    <!-- Search Engine -->
    <meta name="description" content=" Map a JSON response to your PHP object">
    <meta name="image" content="https://jsonmapper.net/images/jsonmapper.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="JsonMapper">
    <meta itemprop="description" content=" Map a JSON response to your PHP object">
    <meta itemprop="image" content="https://jsonmapper.net/images/jsonmapper.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="JsonMapper">
    <meta name="twitter:description" content=" Map a JSON response to your PHP object">
    <meta name="twitter:site" content="@jsonmapper">
    <meta name="twitter:creator" content="@jsonmapper">
    <meta name="twitter:image:src" content="https://jsonmapper.net/images/jsonmapper-og-twitter.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="JsonMapper">
    <meta name="og:description" content=" Map a JSON response to your PHP object">
    <meta name="og:image" content="https://jsonmapper.net/images/jsonmapper-og-facebook.png">
    <meta name="og:url" content="https://jsonmapper.net">
    <meta name="og:site_name" content="JsonMapper">
    <meta name="og:type" content="website">
</head>
<body class="antialiased text-base leading-normal bg-grey-100 dark:bg-slate-700 p-4 w-full lg:w-2/3 lg:w-2/3 mx-auto  text-gray-700 dark:text-slate-200">
    <div class="flex flex-col">
        <header>
            <div class="flex items-center justify-between p-4 border-b-2 border-yellow-500">
                <div>
                    <a href="{{ '/' | relative_url }}" title="home">
                        <img src="{{ '/images/jsonmapper.png' | relative_url }}" class="dark:hidden" alt="JsonMapper"/>
                        <img src="{{ '/images/jsonmapper-light.png' | relative_url }}" class="hidden dark:block" alt="JsonMapper"/>
                    </a>
                </div>

                <div class="md:hidden">
                    <button class="flex flex-col" onclick="navToggle();">
                        <svg class="h-8 w-8 fill-current" viewBox="0 0 24 24" id="menu-closed">
                            <path fill-rule="evenodd"
                                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                        </svg>

                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="menu-open">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="hidden px-2 pt-2 pb-4 border-b-2 border-yellow-500" id="menuItems">
                {% for section in site.data.menu %}
                <h2 class="tracking-wide text-xs leading-loose uppercase pt-1 text-gray-900 dark:text-slate-200">{{ section[0] }}</h2>
                {% for link in section[1] %}
                <a href="{{ link[1] | relative_url }}" class="block rounded px-2 py-1 mt-1 hover:bg-yellow-500 dark:text-slate-400 dark:hover:text-slate-200">{{ link[0] }}</a>
                {% endfor %}
                {% endfor %}
                <div class="flex justify-start items-center mt-8">
                    <a class="block flex items-center hover:text-gray-700 mr-5" href="https://twitter.com/JsonMapper" target="_blank">
                        <svg class="fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <title>Twitter</title>
                            <path d="M6.29 18.25c7.55 0 11.67-6.25 11.67-11.67v-.53c.8-.59 1.49-1.3 2.04-2.13-.75.33-1.54.55-2.36.65a4.12 4.12 0 0 0 1.8-2.27c-.8.48-1.68.81-2.6 1a4.1 4.1 0 0 0-7 3.74 11.65 11.65 0 0 1-8.45-4.3 4.1 4.1 0 0 0 1.27 5.49C2.01 8.2 1.37 8.03.8 7.7v.05a4.1 4.1 0 0 0 3.3 4.03 4.1 4.1 0 0 1-1.86.07 4.1 4.1 0 0 0 3.83 2.85A8.23 8.23 0 0 1 0 16.4a11.62 11.62 0 0 0 6.29 1.84"></path>
                        </svg>
                    </a>
                    <a class="block flex items-center hover:text-gray-700 mr-5" href="https://github.com/JsonMapper/JsonMapper" target="_blank">
                        <svg class="fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <title>GitHub</title>
                            <path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </header>
        <main class="mt-2">
            <div class="flex flex-row h-screen ">
                <nav class="m-4 hidden md:block grow-0 shrink-0 basis-auto">
                    {% for section in site.data.menu %}
                    <h2 class="tracking-wide text-xs leading-loose uppercase text-gray-900 dark:text-slate-200">{{ section[0] }}</h2>
                    <ul class="list-reset pl-4 mb-6">
                        {% for link in section[1] %}
                        <li class="tracking-wide text-md rounded">
                            <a href="{{ link[1] | relative_url }}" class="text-slate-500 hover:text-slate-800 dark:text-slate-400 dark:hover:text-slate-200">{{ link[0] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                    <div class="flex justify-start items-center mt-8">
                        <a class="block flex items-center hover:text-gray-700 dark:hover:text-stone-100 mr-5" href="https://twitter.com/JsonMapper" target="_blank">
                            <svg class="fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>Twitter</title>
                                <path d="M6.29 18.25c7.55 0 11.67-6.25 11.67-11.67v-.53c.8-.59 1.49-1.3 2.04-2.13-.75.33-1.54.55-2.36.65a4.12 4.12 0 0 0 1.8-2.27c-.8.48-1.68.81-2.6 1a4.1 4.1 0 0 0-7 3.74 11.65 11.65 0 0 1-8.45-4.3 4.1 4.1 0 0 0 1.27 5.49C2.01 8.2 1.37 8.03.8 7.7v.05a4.1 4.1 0 0 0 3.3 4.03 4.1 4.1 0 0 1-1.86.07 4.1 4.1 0 0 0 3.83 2.85A8.23 8.23 0 0 1 0 16.4a11.62 11.62 0 0 0 6.29 1.84"></path>
                            </svg>
                        </a>
                        <a class="block flex items-center hover:text-gray-700 dark:hover:text-stone-100 mr-5" href="https://github.com/JsonMapper/JsonMapper" target="_blank">
                            <svg class="fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>GitHub</title>
                                <path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path>
                            </svg>
                        </a>
                    </div>
                </nav>
                <article class="mx-0 my-4 md:mx-4 w-full min-w-0">
                    <h1 class="text-gray-900 dark:text-slate-200">{{ page.title }}</h1>
                    {{ content }}
                </article>
            </div>
        </main>
        <footer>

        </footer>
    </div>
    <script>
        function navToggle() {
            var nav = document.getElementById('menuItems');
            var menuOpen = document.getElementById('menu-open');
            var menuClosed = document.getElementById('menu-closed');

            nav.classList.toggle('hidden');
            menuOpen.classList.toggle('hidden');
            menuClosed.classList.toggle('hidden');
        }
    </script>
</body>
</html>
